body {
  overflow: hidden;
  /* font-size: 10vw; */
}

#content {
  position: absolute;
  z-index: 10;

  font-family: hanwei;
  /* font-size: 5rem; */
  font-size: 3vw;
}

#bgImg {
  height: 100%;
  width: 100%;
  background: url('../img/bg/snow.jpg') no-repeat;
  background-size: cover;
  /* background-size: contain; */
  position: absolute;
  opacity: 0.7;
  overflow: hidden;
}
#Snow {
  position: absolute;
  z-index: 5;
}

#barrage-board {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.barrage {
  width: 100%;
  height: 5vw;
}

.barrage-span {
  position: fixed;
  /* top: 0px; */
  right: 0px;
  float: right;
  margin-right: 5vw;
  transform: translateX(80vw);
  /* liner 匀速 */
  transition: transform 17s linear;
}

#item {
  height: 70vh;
}

.barrage-input {
  width: 50vw !important;
}

button,
input {
  outline: none;
}
/* .barrage:hover {
  cursor: pointer;
  transform: translateX(-90vw);
} */

/* @font-face {
  font-family: maobi;
  src: url('./font/maobi.TTF');
} */

@font-face {
  font-family: hanwei;
  src: url('./font/HYShangWeiShouShuW.ttf');
}
/* #content {
} */
