body {
  overflow: hidden;
  /* font-size: 10vw; */
}

#content {
  position: absolute;
  z-index: 1;

  font-family: hanwei;
  /* font-size: 5rem; */
  font-size: 3vw;
}

#bgImg {
  height: 100%;
  width: 100%;
  background: url('../img/bg/snow.jpg') no-repeat;
  background-size: cover;
  /* background-size: contain; */
  position: absolute;
  opacity: 0.7;
  overflow: hidden;
}
#Snow {
  position: absolute;
  z-index: 1;
}

#barrage {
  position: absolute;
  top: 0px;
  width: 100%;
}

.barrage-span {
  position: absolute;
  top: 0px;
  right: 0px;
  /* liner 匀速 */
  transition: transform 7s linear;
}

/* .barrage:hover {
  cursor: pointer;
  transform: translateX(-90vw);
} */

/* @font-face {
  font-family: maobi;
  src: url('./font/maobi.TTF');
} */

@font-face {
  font-family: hanwei;
  src: url('./font/HYShangWeiShouShuW.ttf');
}
/* #content {
} */
