@keyframes moon {
  0% {
    top: 200px;
    left: 0;
  }
  100% {
    top: 45px;
    left: 55px;
  }
}
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px 0 #f6edbd;
  }
  50% {
    box-shadow: 0 0 20px 0 #f6edbd;
  }
}

.moon {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 45px;
  left: 55px;
  border-radius: 50%;
  background: #f6edbd;
  box-shadow: 0 0 10px 0 #f6edbd;
  animation: moon 3s ease-out, glow 5s ease-in-out infinite;
  overflow: hidden;
  z-index: -1;
}

.moon .crater {
  background-color: #ece1a8;
  position: absolute;
  border-radius: 50%;
}

.moon .crater-1,
.moon .crater-2,
.moon .crater-3 {
  width: 24px;
  height: 24px;
}

.moon .crater-4,
.moon .crater-5,
.moon .crater-6,
.moon .crater-7,
.moon .crater-8,
.moon .crater-9 {
  width: 12px;
  height: 12px;
}

.moon .crater-10,
.moon .crater-11 {
  width: 8px;
  height: 8px;
}

.moon .crater-1 {
  top: 90px;
  left: 100px;
}

.moon .crater-2 {
  top: 80px;
  left: 70;
}

.moon .crater-3 {
  top: 125px;
  left: 80px;
}

.moon .crater-4 {
  top: 105px;
  left: 60px;
}

.moon .crater-5 {
  top: 95px;
  left: 130px;
}

.moon .crater-6 {
  top: 125px;
  left: 45px;
}

.moon .crater-7 {
  top: 55px;
  left: 75px;
}

.moon .crater-8 {
  top: 70px;
  left: 65px;
}

.moon .crater-9 {
  top: 40px;
  left: 115px;
}

.moon .crater-10 {
  top: 45px;
  left: 30px;
}

.moon .crater-11 {
  top: 10px;
  left: 35px;
}

/* 
.moon {
  position: absolute;
  width: 10vw;
  height: 10vw;
  top: 10vh;
  left: 10vw;
  border-radius: 50%;
  background: #f6edbd;
  box-shadow: 0 0 10px 0 #f6edbd;
  animation: moon 5s ease-out, glow 5s ease-in-out infinite;
  overflow: hidden;
  z-index: 2;
}

.moon .crater {
  background-color: #ece1a8;
  position: absolute;
  border-radius: 50%;
}

.moon .crater-1,
.moon .crater-2,
.moon .crater-3 {
  width: 4vh;
  height: 4vh;
}

.moon .crater-4,
.moon .crater-5,
.moon .crater-6,
.moon .crater-7,
.moon .crater-8,
.moon .crater-9 {
  width: 5vh;
  height: 5vh;
}

.moon .crater-10,
.moon .crater-11 {
  width: 3vh;
  height: 3vh;
}

.moon .crater-1 {
  top: 10vh;
  left: 1vw;
}

.moon .crater-2 {
  top: 19vh;
  left: 7vh;
}

.moon .crater-3 {
  top: 5vh;
  left: 18vh;
}

.moon .crater-4 {
  top: 12vh;
  left: 14vh;
}

.moon .crater-5 {
  top: 30vh;
  left: 40vh;
}

.moon .crater-6 {
  top: 10vh;
  left: 35vh;
}

.moon .crater-7 {
  top: 18vh;
  left: 28vh;
}

.moon .crater-8 {
  top: 50vh;
  left: 30vh;
}

.moon .crater-9 {
  top: 40vh;
  left: 19vh;
}

.moon .crater-10 {
  top: 23vh;
  left: 40vh;
}

.moon .crater-11 {
  top: 38vh;
  left: 30vh;
} */
